:root {
    --main-bg-color-light-mode: #FDFCF5;
    --main-text-color-light-mode: #46505D;
    --header-color-light-mode: #3C3C3B;

    --main-bg-color-dark-mode: #3C3C3B;
    --main-text-color-dark-mode: #dfdfd7;
    --header-color-dark-mode: #FDFCF5;
}

* {
    font-family: 'EB Garamond', serif;
}

body {
    width: 60%;
    max-width: 960px;
    margin: 20px 20% 40px 20%;
    background-color: var(--main-bg-color-dark-mode);
    font-size: 20px;
    line-height: 1.5;
}

h1 {
    font-size: 2.5em;
    text-align: left;
    color: var(--header-color-dark-mode);
}

h2 {
    unicode-bidi: isolate;
}

ul {
    display: block;
    list-style-type: square;
}

.about {
    color: var(--main-text-color-dark-mode);
}

a {
    color: rgb(0, 200, 255);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.portrait {
    float: right;
    margin: 50px 0px 0px 40px;
}